@model Tangy.Models.Event
@using Tangy.Extensions
@{
    ViewData["Title"] = "מחיקה";
}

<br />
<h2>מחיקת אירוע</h2>
<br />
<form method="post">
    <div class="form-border row">
        <div class="col-8">
            <input type="hidden" asp-for="Id" />
            <fieldset disabled>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Description" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Description" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="StartDate" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="StartDate" class="form-control" />
                    </div>
                </div>
                <div class="col-4">
                    <label asp-for="EndDate" class="custom-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="EndDate" class="form-control" />
                </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="OrderId" class="custom-label"></label>
            </div>
            <div class="col-8">
                <input asp-for="OrderId" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="IsActive" class="custom-label"></label>
            </div>
            <div class="col-8">
                <input asp-for="IsActive" class="form-check-input" />
            </div>
        </div>
        </fieldset>
    </div>
    <div class="col-1"></div>
    <div class="col-3">
        <img src="@Model.Image" width="100%" style="border-radius: 5px; border:1px solid #bbb9b9;" />
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="מחק" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-success">חזרה לרשימה</a>
    </div>
    </div>
</form>