@model Tangy.Models.LinkItem
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div style="background-color:aliceblue">
    <div>@Model.Subject</div>
    <div>@Model.Description</div>
    <div><img src="@Model.Image" /></div>
</div>
